<div class="topPage">
  <% @lists.each do |list| %>
    <div class="listWrapper">
      <div class="list">
          <div class="list_header">
            <%= link_to current_user.name, new_group_path, class: "group"%>
            <h2 class="list_header_title"><%= list.title %></h2>
            <div class="list_header_action">
              <%= link_to content_tag(:i, '', class: 'fas fa-trash'), list, method: :delete, data: { confirm: "#{list.title}を削除して大丈夫ですか？" } %>
              <%= link_to(content_tag(:i, '', class: 'fas fa-pen'), edit_list_path(list)) %>
            </div>
          </div>
          <div class="cardWrapper">
            <% list.cards.each do |card| %>
              <%= link_to list_card_path(list, card), class:"cardDetail_link" do %>
                <div class="card">
                  <h3 class="card_title"><%= card.title %></h3>
                  <% if card.memo.size > 0 %>
                    <div class="card_detail is-exist"><i class="fas fa-bars"></i></div>
                  <% end %>
                </div>
              <% end %>
            <% end %>
            <div class="addCard">
              <i class="far fa-plus-square"></i>
              <%= link_to "さらにカードを追加", new_list_card_path(list), class: "addCard_link" %>
            </div>
            <div class="Iine_Button">
              <% if current_user.already_favorited?(list) %>
                <%= link_to list_favorite_path(list,@favorite), method: :delete do %>
                  <%= icon('fas','heart',class: 'liked icon') %>
                <% end%>
              <% else %>
                <%= link_to list_favorites_path(list), method: :post do %>
                  <%= icon('far','heart',class: 'not-liked icon') %>
                <% end%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>